<div class="container mt-3">
    <a href="/api/softwares/{{id}}" class="btn btn-primary .btn-block col-12 text-left" role="button">{{name}}
        <span class="label label-default float-right">Visualizar</span>
    </a>
</div>