<!--Boton nuevo post-->
<div class="col-auto text-center mb-4">
<a href="/api/hardwares/new" class="btn-lg btn-primary .btn-block col-12" role="button"> + New Hardware</a>  
</div>
<!--Lista de Hardwares-->
{{#each hardwareRows}}
    {{> listhardware}}
{{/each}}
