<div class="jumbotron">
  <h1 class="display-4">¡Bienvenido a Tech Inventory!</h1>
  <p class="lead">Manejo de invetarios de equipos de computo, con el fin de proporcionar el contacto de primer nivel y soluciones a problemas técnicos de nuestros clientes, logrando así dar seguimiento, encaminar y redirigir problemas a los recursos adecuados.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>