<!--Boton nuevo post-->
<div class="col-auto text-center mb-4">
    <a href="/api/softwares/new" class="btn-lg btn-primary .btn-block col-12" role="button"> + New Software</a>
</div>
<!--Lista de Softwares-->
{{#each softwaresData}}
{{> listsoftware}}
{{/each}}